{% extends "ingwaz/base.html" %}

{% block content %}
  {{ super() }}
  <h1>{{ current_node.label }}</h1>
  <div id="node_view_container">

    {% if dependencies %}
    <section id="dependencies_section" class="link-nodes_section">
      <h2 class="link-nodes_label">Dependencies</h2>
      {{ link_nodes::input(nodes = dependencies) }}
    </section>
    {% endif %}

    <section id="current_node_section">
      {{ node_details::input(label = current_node.label, description_html = description_html) }}
    </section>

    {% if dependents %}
    <section id="dependents_section" class="link-nodes_section">
      <h2 class="link-nodes_label">Dependents</h2>
      {{ link_nodes::input(nodes = dependents) }}
    </section>
    {% endif %}
  </div>
{% endblock content %}