{% macro input(base_path, brand_logo, brand_title, menu) %}
<header id="header-nav_bar">
    <div class="nav-left">
        <a id="header-brand" href="{{ base_path }}">
            {% if brand_logo %}<img id="header-brand_logo" src="{{ brand_logo }}" alt="brand_logo">{% endif %}
            <div id="header-brand_title">{{ brand_title }}</div>
        </a>
    </div>
    <div class="nav-right">
        <nav id="header_menu">
            {% for link in menu %}
                <a href="{% if link.is_external %}{{ link.url }}{% else %}{{ base_path }}{{ link.url }}{% endif %}"
                   {% if link.is_external %}target="_blank" rel="noopener noreferrer"{% endif %}>
                    {% if link.icon %}<img class="menu-icon" src="{{ link.icon }}" alt="">{% endif %}
                    {{ link.label }}
                </a>
            {% endfor %}
        </nav>
    </div>
</header>
{% endmacro %}